.text-box--wrapper-k{
    padding-left: 60px;
    height: max-content;
    overflow: hidden;
    position: relative;
    width: 94%;
}

.content-k {
    margin-right: 60px;
    font-size: 18px;
}

.content-box-k {
    width: 100%;
    background: none;
    padding: 10px;
    height: max-content;
    position: relative;
    color: black;
    text-align: center;
}

.image {
    width: 100%;
    height: 250px;
}



