.image-box--wrapper{
    background: white;
    padding: 15px;
    margin-top: -40px;
    margin-right: 10px;
    position: relative;
    height: 350px;
    width: 380px;

    .image-box-cross {
        background: url($imagesPath + "cross.jpg") center center no-repeat;
        background-size: contain;
        background-position-y: 27px;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
}
