.header {
    
    .header-church--sticky {
        position: fixed;
        width: 100%;
        background: white;
        transition: background .25s;
        display: ruby;
        z-index: 1000;


        .menu-navigation {
            text-align: center;
            
            a {
                color: black;
                transition: 0.3s;
                border-radius: 25px;
            }
            a:hover {
                color: white;
                background:black;
                border-radius: 25px;
                opacity: 1;
            }
        }
    }

    .menu-navigation {
        text-align: center;
        a {
            transition: 0.3s;
            border-radius: 25px;
        }
        a:hover {
            color: #141416;
            background:white;
            border-radius: 25px;
            opacity: 0.5;
        }
    }

    &.home {
        background: url($imagesPath + "home.hero2_.jpg") center center no-repeat;
        height: 500px;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        a:hover {
            color: #141416;
            background:#bfbff5;
            border-radius: 25px;
            opacity: 0.5;
        }
    }

    &.whoWeAre {
        background: url($imagesPath + "tree-growing-in-hands1.jpg") center center no-repeat;
        height: 500px;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        a:hover {
            color: #141416;
            background:#cef5bf;
            border-radius: 25px;
            opacity: 0.5;
        }
    }
    &.whoWeAre a {
        color: green;
    }
    &.vision {
        background: url($imagesPath + "vizija.jpg") center center no-repeat;
        height: 500px;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
    }
    &.credo {
        background: url($imagesPath + "our_believe.jpg") center 20% no-repeat;
        height: 500px;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
    }
    &.pastor {
        background: url($imagesPath + "bible.jpg") center center no-repeat;
        height: 500px;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
    }
    &.activity {
        background: none;
        height: 0;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
    }
    &.humanity {
        background: url($imagesPath + "LoveGod_LoveOthers.jpg") center 65% no-repeat;
        height: 700px;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;

    }
    &.contact {
        background: none;
        height: 50px;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        a:hover {
            color: #141416;
            background:white;
            border-radius: 25px;
            opacity: 0.8;
        }
    }
    &.contact a {
        color: #bdbcbc;
}
}
.wrapper{
    background: url($imagesPath + "worship.jpg") center center no-repeat;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

    .header-church--sticky {
        position: fixed;
        width: 100%;
        background: white;
        transition: background .25s;

        .menu-navigation {
            text-align: center;

            h3 {
                color: black;
            }
        }
    }

    .menu-navigation {
        text-align: center;
    }
    &.activity {
        background: url($imagesPath + "worship.jpg") center center no-repeat;
        height: 500px;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
    }
    &.event {
        background: url($imagesPath + "worship.jpg") center center no-repeat;
        height: 100px;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
    }

}
.footer {
    .footer-wrapper {
        height: 200px;
        background: #6d6c6c;
    }
    .footer-navigation {
        text-align: center;
        position: relative;
        align-items: center;
        width:350px;
        margin-left: 300px;
        
    a {
        color: black;
        width: 150px;
        float: left;
        margin-top: 15px;
    }
    
}
.img {
    float: right;

}
.fb {
    width: 30px;
    height: 30px;
    margin-right: 50px;
}
.fb:hover {
    width: 35px;
    height: 35px;
    margin-right: 47px;
}
.fb:active {
    width: 30px;
    height: 30px;
    margin-right: 50px;
}
}

