.text-box--wrapper-p{
    padding-left: 60px;
    height: max-content;
    overflow: hidden;
    position: relative;
    width: 94%;
}

.content-p {
    margin-right: 60px;
    font-size: 18px;
}

.content-box-p {
    width: 70%;
    background: none;
    padding: 10px;
    height: max-content;
    position: relative;
    color: black;
    text-align: center;
    float: right;
}

.image-p {
    width: 20%;
    height: 250px;
    float: left;
    padding-top: 50px;
}



