.text-box--wrapper-i{
    padding-left: 50px;
    height: max-content;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 30%;
}
.text-box--wrapper-i:nth-of-type(1) {
    float: left;
    width: 60%;
    margin: 0;
    padding-left: 30px;
}
.text-box--wrapper-i:nth-of-type(1) .content-box-i{
    background: #76b874;

}
.title-i {
    font-size: 24px;
    margin: 0;
    margin-left: 10px;
    margin-right: 25px;

}
.content-i {
    margin-left: 10px;
    margin-right: 25px;
}

.content-box-i {
    width: 100%;
    background: white;
    padding: 10px;
    height: max-content;
    position: relative;
    background: #74a4b8;
    color: white;
    text-align: center;
}

.image {
    width: 100%;
    height: 250px;
}



