.text-box--wrapper-a{
    padding-left: 50px;
    min-height: 200px;
    margin-top: 10px;
    width: 100%;
    position: relative;

}
.content-title-a {
    float: left;
    min-height: 200px;
    width: 30%;
}
.title-a {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 25px;

}
.content-a {
    margin-left: 10px;
    margin-right: 25px;
    text-align: left;
    margin-top: 30px;
}
.time-a {
    margin-left: 10px;
    margin-right: 25px;
    font-weight: bold;
}
.date-a {
    overflow: hidden;
    position: relative;
    float: left;
    width: 25%;
    
}
.content-box-a-odd {
    width: 70%;
    background: white;
    height: max-content;
    position: relative;
    background: #74a4b8;
    color: white;
    text-align: center;
    float: left;
}
.content-box-a-even {
    width: 70%;
    background: white;
    height: max-content;
    position: relative;
    background: #ad74b8;
    color: white;
    text-align: center;
    float: left;
}
.date-h-p {
    font-size: 24px;
    text-align: center;
    margin: 8px;
}
.date-d-p {
    font-size: 24px;
    color: white;
    margin: 8px;
    text-align: center;
}
.date-a .image {
    width: 100%;
    height: 200px;
}

