.wpapper{
    background-image: url($imagesPath + "vizija.jpg") center center no-repeat;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

    .wrapper-church--sticky {
        position: fixed;
        width: 100%;
        background: white;
        transition: background .25s;

        .menu-navigation {
            text-align: center;

            h3 {
                color: black;
            }
        }
    }

    .menu-navigation {
        text-align: center;
    }
}
