main {
    position: relative;
    width: 100%;
    .main{
        width: 100%;
    }
    article {
        margin-top: -330px;
        margin-left: 100px;
        color: white;
        position: absolute;
    }
    h1 {
        font-size: 36px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    .main-title {
        margin-left: 150px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        background: #c7c6c6;
        padding: 5px;
    }
    .naslov1, .naslov2{
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: oblique;
        color: #c1dbe8;
    }
    .naslov2 {
        margin-left: 100px;
    }
    .wrapper-title {
        text-align: center;
        background: #c7c6c6;
        padding: 8px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
    } 
    .btn-events {
        margin-left: 150px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        background: #c7c6c6;
        padding: 5px 20px 5px 20px;
        font-size: 24px;
        margin-top: 10px;
        width: 70%;
        display: flex;
    }
}
body {
    background: #f5f5f5;
}

.vision {
    .naslov1, .naslov2{
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: oblique;
        color: #d9dbdb;
        text-shadow: 3px 3px 6px #000000;
    }
    .naslov2 {
        margin-left: 100px;
}
}
.credos {
    background: #c09d7a;
    .naslov1, .naslov2{
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: oblique;
        color: #d9dbdb;
        text-shadow: 3px 3px 6px #000000;
    }
    .naslov2 {
        margin-left: 100px;
}
}
.pastors {
    background: #cdfad3;
    .naslov1, .naslov2{
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: oblique;
        color: #b3f0bb;
        text-shadow: 3px 3px 6px #000000;
    }
    .naslov2 {
        margin-left: 100px;
}
}
.activities {
    background: #dff2f8;
    .naslov1, .naslov2{
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: oblique;
        color: #b3f0bb;
        text-shadow: 3px 3px 6px #000000;
    }
    .naslov2 {
        margin-left: 100px;
}
}
.humanities {
    article {
        margin-top: -450px;
    }
    background: #a4693f;
    .naslov1, .naslov2{
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: oblique;
        color: #d9dbdb;
        text-shadow: 3px 3px 6px #000000;
    }
    .naslov2 {
        margin-left: 100px;
}
}
